// ==========================================================================
// Article post
// ==========================================================================


// ==========================================================================
// Post
// ==========================================================================

.post {
  margin-bottom: em(33);
  margin-bottom: em(33);
  border-bottom: 1px solid $border-colour;
  padding-bottom: em(33);
}

// Article title
.post-title {
  font-family: $font-title;
  text-align: center;
  margin-bottom: em(5);

  @include font-size(33);

  a {
    @include link-colour($normal: $black, $visited: $black, $border: false);
  }

  a,
  a:hover,
  a:focus,
  a:active {
    border-bottom: none;
  }
}


// ==========================================================================
// Post metadata
// ==========================================================================

.post-meta {
  margin-bottom: rem(29);
  text-align: center;

  * {
    color: $grey-light;
  }

  ul {
    @extend .l-inline;

    li {
      margin-right: rem(18);
    }
  }

  // Published date
  .post-meta-date {
    background: url("../img/icon-calendar.png") no-repeat 0 50%; // Fallback PNG file
    background-image: url("../img/icon-calendar.svg"), none; // SVG if supported
    padding-left: rem(25);
  }

  // Comments
  .post-meta-comment {
    background: url("../img/icon-comment.png") no-repeat 0 50%; // Fallback PNG file
    background-image: url("../img/icon-comment.svg"), none; // SVG if supported
    padding-left: rem(25);
  }
}


// ==========================================================================
// Social media share
// ==========================================================================

.post-share {
  display: block;
  margin-bottom: rem(10);
  margin-top: rem(40);
  text-align: center;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: rem(10);
  }

  a {
    display: inline-block;
    width: 25px;
    margin-right: rem(16);

    @include opacity(0.4);

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      @include opacity(0.8);
    }

    img {
      display: block;
    }
  }
}


// ==========================================================================
// Hight contrast background
// ==========================================================================

.section-high-contrast {

  .post {
    border-color: $grey-darker;
  }

  .post-title a {
    @include link-colour($normal: $white, $visited: $white, $border: false);

    &:focus {
      background: $white;
      color: $black;
    }
  }
}


// ==========================================================================
// Post page
// ==========================================================================

.page-post { // Add extra margin top
  @include rem-fallback(margin-top, 4);
}