// ==========================================================================
// Button
// ==========================================================================

.button {
  @extend .all-caps;

  @include font-size(16);

  background-color: $black;
  border: none;
  color: $white;
  display: inline-block;
  font-weight: 500;
  padding: .5em .9em;

  &:hover {
    background-color: lighten($black, 20);
  }
}