// ==========================================================================
// Lists
// Used for list item to remove and buleets and margins.
// ==========================================================================


.l-stacked,
.l-inline,
.l-menu {
  @extend %no-bullets;
}

// ==========================================================================
// Inline list
// ==========================================================================

.l-inline {

  > li {
    display: inline-block;
  }
}


// ==========================================================================
// Stacked list
// ==========================================================================

.l-stacked {

  > li {
    @include rem-fallback(margin-bottom, 0.5);
  }
}


// ==========================================================================
// Menu list
// ==========================================================================

.l-menu {
  @include rem-fallback(margin-bottom, 4);

  > li {
    @include rem-fallback(margin-bottom, 2);
  }

  .menu-item {

    .menu-name {
      @extend .h3;

      display: inline;
    }

    .menu-price {
      float: right;
      color: $grey;
      font-style: italic;
    }

    p {
      @include rem-fallback(margin-top, 0.5);
    }
  }

}