// ==========================================================================
// Pagination
// ==========================================================================

nav.pagination ul {
  @extend %no-bullets; // Remove bullets

  text-align: center;

  li {
    display: inline;

    @include rem-fallback(margin, 0, 0.4, 0, 0);
  }

  a {
    border: none;
    color: $grey;
    padding: 3px 8px;
    background: $white;

    &:hover,
    &:focus {  // Hover & focus status
      background: $grey;
      color: $white;
    }

    &:active,
    &.current { // Current & active status
      background: $black;
      color: $white;
    }
  }
}