// ==========================================================================
// Footer
// ==========================================================================

.l-footer {
  text-align: center;

  @include rem-fallback(padding, 2.618, 0);
}


footer {

  a,
  a:hover,
  a:active {
    border-bottom: none;
  }
}


// ==========================================================================
// Contact info
// ==========================================================================

.contact {
  @extend .l-frame;

  @include rem-fallback(margin-bottom, 2.618);
}

.contact-title {
  @include rem-fallback(margin-bottom, 0.5);
}

.contact-item {
  @include font-size(20);
  @include rem-fallback(margin-bottom, 2);
  @include respond-to(tablet-small) {
    margin-bottom: 0;
  }
}


// ==========================================================================
// Social media icons
// ==========================================================================

.social {
  margin-bottom: rem(48);
  text-align: center;

  li {
    margin-right: 2em;
    width: rem(50);

    &:last-child {
      margin-right: 0;
    }

    a:hover {
      opacity: 0.8;
    }
  }

  img { // Icons
    display: block;
    width: rem(50);
    height: rem(50);
  }

  a,
  a:hover,
  a:active {
    border-bottom: none;
  }
}


// ==========================================================================
// Copyright
// ==========================================================================

.copy {
  color: $grey-light;

  @include font-size(16);
}