// ==========================================================================
//   Header
// ==========================================================================

.l-header {
  background-color: $black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  .header-inner {
    @extend .cf;

    padding-top: rem(20);
    padding-bottom: rem(15);

    > * {
      display: block;
      float: left;
    }

    .logo {
      color: $white;
      line-height: 34px;

      @include respond-to(tablet-port) {
        width: 40%;
      }
      @include link-colour($normal: $white, $visited: $white, $border: false);
    }

    .menu-link,
    .hours {
      width: rem(90);
      padding-left: 1%;
      padding-right: 1%;
      text-align: center;

      @include font-size(14);

      // Icon size
      img {
        display: block;
        width: rem(20); // Max width 20px
        height: auto;
        margin: 0 auto;
      }

      span {
        display: block;
        height: rem(20);
      }
    }

    // Open hours
    .hours {
      float: right;

      @include link-colour($nav-link-normal, $nav-link-hover, $nav-link-active, $nav-link-visited, $nav-link-focus, false); // _mixin.scss
      @include respond-to(tablet-port) {
        max-width: rem(110);
        float: right;
      }

      &:focus { // Overwrite focus background colour
        background-color: $white;
        color: $nav-link-focus;
      }
    }

    // Menu link for mobile
    .menu-link {
      width: rem(60);
      float: right;

      @include link-colour($normal: $white, $visited: $white, $border: false);
      @include respond-to(tablet-port) { // Hide if the width is wider than 768px
        display: none;
      }
    }

    a {
      border-bottom: none; // Remove border bottom
    }
  }
}


// ==========================================================================
//   Primary navigation
// ==========================================================================

.nav--primary {
  display: none !important;
  line-height: 34px;

  @include respond-to(tablet-port) {
    display: block !important;
  }

  ul > li {
    @include respond-to(tablet-port) {
      display: inline-block;
    }
  }

  a {
    display: block;
    margin: 0 rem(28) 0 0;
    padding: 0;
    text-align: center;

    @include link-colour($nav-link-normal, $nav-link-hover, $nav-link-active, $nav-link-visited, $nav-link-focus, false); // _mixin.scss

    &:focus { // Overwrite focus background colour
      background-color: $white;
      color: $nav-link-focus;
    }
  }

  // Current page
  .current a {
    border-bottom: 1px solid $white;
  }
}


// ==========================================================================
//   Primary navigation for mobile
// ==========================================================================

.nav--primary-mobile {
  @extend .all-caps;

  margin-bottom: 0;
  height: 0;
  overflow: hidden;

  @include respond-to(tablet-port) {
    display: none !important;
  }

  .nav {
    @extend %no-bullets;

    @include rem-fallback(margin-bottom, 2);
  }

  &.is-pulled-down {
    height: 100%;
  }

  > li {
    display: block;
  }

  a {
    display: block;
    padding: em(12) em(18);
    text-align: center;
    padding-right: em(-12);
    padding-left: em(-12);

    @include link-colour($nav-link-normal, $nav-link-hover, $nav-link-active, $nav-link-visited, $nav-link-focus, true);

    &:link,
    &:visited,
    &:active { // Overwrite border colour
      border-color: $grey-darker;
    }
  }

  // Current page
  a:hover,
  .current a {
    border-bottom: 1px solid $grey-dark;
  }
}