// ==========================================================================
// Newsletter
// ==========================================================================

.newsletter {

  @include respond-to(tablet-small) {
    width: 80%;
    margin: 0 auto;
  }

  @include respond-to(tablet-port) {
    width: 60%;
  }

  @include respond-to(tablet-land) {
    width: 50%;
  }

  @include respond-to(wide-screen) {
    width: 30%;
  }

  .section-title {
    text-align: center;

    @include rem-fallback(margin-bottom, 1);
    @include respond-to(tablet-port) {
      @include font-size(34);
    }
  }

  button[type=submit] {
    width: 100%;
  }
}

