// ==========================================================================
// Page title section for landing page
// Used in standard page
// ==========================================================================

.l-page-title {
  display: table;
  height: rem(200);

  @include respond-to(tablet-small) {
    height: rem(300);
  }

  .l-constrained { // Vertical align text in the container
    display: table-cell;
    vertical-align: middle;
  }

  h1,
  .h1,
  h1 a,
  .h1 a {
    font-family: $font-hero-title;
    color: $white;
    text-align: center;
    margin: rem(70) 0 0 0;
    font-weight: 700;

    @include letterpress(1);
    @include font-size(29);
    @include respond-to(tablet-small) {
      @include font-size(88);
    }
  }
}

// Set the background to black as fallback
.backstretch {
  background-color: $black;
}