// ==========================================================================
// Variables
// ==========================================================================


// ==========================================================================
// Base font size in used in _mixins.scss
// ==========================================================================

$base-font-size:    18;


// ==========================================================================
// Breakpoints
// ==========================================================================

$tablet-small:      600px;
$tablet-port:       768px;
$tablet-land:       1024px;
$wide-screen:       1280px;


// ==========================================================================
// Font family
// ==========================================================================

$font-hero-title:   "Roboto Slab", serif; // https://www.google.com/fonts/specimen/Roboto+Slab
$font-title:        'Abel', sans-serif; // https://www.google.com/fonts/specimen/Abel
$font-body:         "Helvetica Neue", Helvetica, Arial, sans-serif;


// ==========================================================================
// Colours - black ans white
// ==========================================================================

$white:             #fff !default;
$black:             #000 !default;


// ==========================================================================
// Colours - greys
// ==========================================================================

$grey-darker:       #222 !default;
$grey-dark:         #333 !default;
$grey:              #555 !default;
$grey-light:        #999 !default;
$grey-lighter:      #e2e2e2 !default;
$white:             #fff !default;


// ==========================================================================
// Link colours
// ==========================================================================

$standard-link-normal:        $grey !default;
$standard-link-hover:         lighten($grey, 40) !default;
$standard-link-active:        lighten($grey, 40) !default;
$standard-link-visited:       lighten($grey, 20) !default;
$standard-link-focus:         $white !default;

$standard-hc-link-normal:     $white !default;
$standard-hc-link-hover:      darken($white, 20) !default;
$standard-hc-link-active:     $white !default;
$standard-hc-link-visited:    $white !default;
$standard-hc-link-focus:      $black !default;


$nav-link-normal:             $white !default;
$nav-link-hover:              darken($white, 20) !default;
$nav-link-active:             $white !default;
$nav-link-visited:            $white !default;
$nav-link-focus:              $black !default;


// ==========================================================================
// Border
// ==========================================================================

$border-colour:               $grey-lighter !default;


// ==========================================================================
// Colours - social media branding
// ==========================================================================

$social-facebook:             #3b5998 !default;
$social-twitter:              #00aced !default;
$social-google-plus:          #dd4b39 !default;


// ==========================================================================
// Base
// ==========================================================================

$body-colour:                 $white !default;
$text-colour:                 $grey !default;
$text-size:                   $base-font-size !default;
$line-height:                 1.54 !default;
$header-line-height:          1.1 !default;
$primary-color:               $grey !default;


// ==========================================================================
// Grid settings
// ==========================================================================

$gutter:                      40;